@model CategoriaModel
<!DOCTYPE html>

<html>
<title>Adicionar Categoria</title>
<head>
</head>
<body>
<h2 class="mt-4">Adicionar Categoria</h2>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="AdicionarCategoria" asp-controller="Home" method="post">
    <input type="hidden" asp-for="CategoriaId"/>
    <div class="mb-3">
        <label class="form-label">Categoria:</label>
        <input class="form-control" type="text" asp-for="Nome"/>
    </div>
    <div class="d-flex justify-content-between gap-1">
        <button type="submit" class="btn btn-success w-100 mb-2">Adicionar</button>
        <a asp-action="Index" class="btn btn-danger w-100 mb-2">Cancelar</a>  
    </div>
</form>
</body>
</html>